* text=auto
*.c text eol=lf
*.h text eol=lf
*.s text eol=lf
*.S text eol=lf
*.ld text eol=lf
*.txt text
*.md text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.uvprojx text
*.uvoptx text
*.ewp text
*.eww text
*.bin binary
*.lib binary
*.a binary
*.dll binary
*.exe binary
*.apk binary
*.zip binary
*.pack binary
